.scalebook {
  display: flex;
  flex-direction: column;
}

.scalebook .settings-bar {
  flex-grow: 1;
  display: flex;
}

.scalebook .settings-bar > * {
  margin: 0.4em;
}

.scalebook .selectorParent {
  padding: 0 0.4em 0 0.4em;
}