.top-bar .logo {
  height: 28px;
  width: 28px;
  display: block;
  opacity: 0.7;
  margin-right: 5px;
  transform: rotate(-50deg);
  margin-top: -8px;
}

.top-bar .logo-span {
  position: relative;
  left: -10px;
  color: #d8c0a9; 
  text-shadow: none;
}

.top-bar > select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}

.shadowed {
  filter: brightness(.8) contrast(135%) drop-shadow(0px 0px .015rem black);
}
