.top-bar .logo {
  height: 28px;
  width: 28px;
  display: block;
  opacity: 0.7;
  margin-right: 5px;
  transform: rotate(-50deg);
  margin-top: -8px;
}

.top-bar > select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}

.shadowed {
  filter: brightness(.9) contrast(135%) drop-shadow(0px 0px .025rem black) drop-shadow(0px 0px .025rem black);
}
