.top-bar .logo {
  height: 28px;
  width: 28px;
  display: block;
  opacity: 0.7;
  margin-right: 5px;
  transform: rotate(-50deg);
  margin-top: -10px;
}

.top-bar > select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}
